<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experiences</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    
    table {
      border-collapse: collapse;
      width: 220%;
      margin: 20px auto;
      overflow: hidden;
      resize: horizontal; /* Allow horizontal resizing */
      display: block;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      resize: horizontal; /* Allow horizontal resizing */
      overflow: hidden; /* Hide text overflow */
    }

    th {
      background-color: #333;
      color: white;
    }

    .scrolls {
      max-height: 300px;
      overflow-y: auto;
    }
    button {
            display: block;
            margin-top: 10px;
            padding: 8px;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
    }
    /* nav {
      background-color: #333;
      overflow: hidden;
    }

    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
    } */

    
  </style>
</head>

<body>

  <!-- <nav>
    <a href="#experience1">IT Manager</a>
    <a href="#experience2">Sr Administrative Officer</a>
    <a href="#experience3">Career Transition</a>
    <a href="#experience4">Assistant Audit Officer</a>
    <a href="#experience5">Assistant Audit Officer / Accountant</a>
   </nav> -->
  <div id="experiences" class="scrolls">
  <div id="experience1">
  <table>
    <span class="tits"><h2>Previous Experiences</h2></span>
    <p>Aug 23 - Till Date</p>
    <tr>
      <!-- <th>Period</th> -->
      <th>Role/Position</th>
      <th>Organization</th>
      <th>Responsibilities</th>
    </tr>
    <tr>
      <!-- <td>Aug 23 - till date</td> -->
      <td>Self-paced Learning and Certification</td>
      <td>At Home</td>
      <td>
        <ul>
          <li>**Passionate Project-Based Learning:**</li>
          <li>Currently planning to complete 30 mini projects in various platforms.</li>
          <li>Stay engaged in coding, ensuring continual and up-to-date proficiency in the field.</li>
          <li>Including mobile applications, to further enhance practical skills and gain hands-on experience</li>
          <li>Specialized in the mastery of virtual networks and adept in DevOps practices.</li>
          <li>Earned "AWS Cloud 101" and currently pursuing "AWS Solutions Architect" certification.</li>
          <li>Earned the DevOps Professional Certification by Cloud Train online.</li>
          <li>Actively pursuing certifications through Udemy and SkillCertPro.</li>
          <li>Revising MERN, LAMP, Angular,ASP.NetCore and ReactJs Projects.</li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<!-- Repeat the above structure for other experiences -->
  <div id="experience2">
    <table>
      <p>Apr '23 - Aug '23</p>
      <tr>
        <!-- <th>Period</th> -->
        <th>Role/Position</th>
        <th>Organization</th>
        <th>Responsibilities</th>
      </tr>
      <tr>
        <!-- <td>Apr '23 - Aug '23</td> -->
        <td>IT Manager</td>
        <td>TNPF&ID Corporation Ltd, Chennai</td>
        <td>
          <ul>
            <li>Spearheaded a 4-months agreed contract project modernizing software design and implementation, resulting in efficiency improvements.</li>
            <li>Led modernization efforts for software design and implementation.</li>
            <li>Demonstrated expertise in ASP.NET Frameworks, Microsoft Azure, and Office 365 administration.</li>
            <li>Proficient in cloud infrastructure, Active Directory, and ETL tools.</li>
            <li>Utilized JavaScript, Bootstrap, and SQL for data analysis and modeling.</li>
            <li>Leveraged Microsoft Power BI and PySpark for insightful data visualization.</li>
            <li>Provided leadership in project management and team coordination.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
<!-- Repeat the above structure for other experiences -->
<div id="experience3">
  <table>
    <p>Mar '22 - Mar '23</p>
    <tr>
      <!-- <th>Period</th> -->
      <th>Role/Position</th>
      <th>Organization</th>
      <th>Responsibilities</th>
    </tr>
    <tr>
      <!-- <td>Apr '23 - Aug '23</td> -->
      <td>Professional Breaks</td>
      <td>Advanced AI and Data Science Certification | Intellipaat,IIT Chennai</td>
      <td>
        <ul>
          <li>I took a purposeful break to focus on personal development and career enhancement opportunities.</li>
          <li>This hiatus allowed me to reassess my professional goals and make a strategic decision to pursue advanced education in the field of Artificial Intelligence and Data Science.</li>
          <li>Undertaking the Advanced AI and Data Science Certification at IIT Chennai, I immersed myself in cutting-edge technologies and methodologies, enriching my skill set and staying abreast of the latest advancements in the industry.</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<div id="experience4">
  <table>
    <p>May '19 - Feb '22</p>
    <tr>
      <!-- <th>Period</th> -->
      <th>Role/Position</th>
      <th>Organization</th>
      <th>Responsibilities</th>
    </tr>
    <tr>
      <!-- <td>Apr '23 - Aug '23</td> -->
      <td>Sr. Administrative Officer/Application Administrator</td>
      <td>Government of India, Delhi</td>
      <td>
        <ul>
          <li>Assuming the role of Senior Administrative Officer/Application Administrator, I contributed to the effective administration of applications and IT systems.</li>
          <li>Managed the vendors, tendering process and crafted Request for Proposal (RFP) documents for diverse IT projects.</li>
          <li>Oversaw User Acceptance Testing (UAT), administered OpenText, provided IT training and mentoring, managed Software Development Life Cycle (SDLC), executed Data Migration, handled Microsoft SharePoint administration, managed Azure, worked with Jira and Agile methodologies, oversaw Oracle12c and Oracle Power BI, utilized Microsoft Power BI, provided Help Desk Support, coordinated Data Center (DC) and Disaster Recovery (DR) infrastructure, conducted Data Analysis and Extraction, and implemented Microservices.</li>
          <li>Staying abreast of technological advancements was a key part of my role during this period</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
<div id="experience5">
  <table>
    <p>May '16 - May '19</p>
    <tr>
      <!-- <th>Period</th> -->
      <th>Role/Position</th>
      <th>Organization</th>
      <th>Responsibilities</th>
    </tr>
    <tr>
      <!-- <td>May '16 - May '19</td> -->
      <td>Assistant Audit Officer/IT Audit</td>
      <td>Government of India, Embassy of India, Washinton DC, USA</td>
      <td>
        <ul>
          <li>Undertook a distinguished three-year overseas assignment, a recognition of meritorious achievements spanning over the past decade in the IT field.</li>
          <li>Successfully navigated a rigorous interview process, standing out among approximately less than 50,000 employees in my cadre.</li>
          <li>Expertly managed IT Audit, Oracle 9i, Oracle Forms and Development, Oracle DBA, Data Migration, and Monolithic Architecture Audit.</li>
          <li>Conducted comprehensive audits on the Software Development Life Cycle (SDLC), employing PLSQL, Excel, IDEA (a tool for Data Extraction and Analysis), Ms Access, and Ms Excel. This involved executing IT audits with a focus on data extraction and analysis, utilizing a variety of tools for a thorough examination.</li>
          <li>Demonstrated proficiency in IT Budgeting, Administration, and ETL Tools</li>
          <li>Stayed at the forefront of technological advancements, ensuring continuous growth and relevance in the dynamic IT landscape</li>
          <li>Executed routine maintenance, ensuring robustness and peak performance of the entire IT infrastructure.</li>
          <li>Played a crucial role in enhancing data management efficiency as a key DBA team member, ensuring seamless server operation.</li>

        </ul>
      </td>
    </tr>
  </table>
</div>
<div id="experience6">
  <table>
    <p>Jul '01 - Feb '16</p>
    <tr>
      <!-- <th>Period</th> -->
      <th>Role/Position</th>
      <th>Organization</th>
      <th>Responsibilities</th>
    </tr>
    <tr>
      <!-- <td>May '16 - May '19</td> -->
      <td>Assistant Audit Officer/Console Operator/DEO/Clerk</td>
      <td>Government of India, Chennai, Bangalore, India</td>
      <td>
        <ul>
          <li>As a full-stack developer, I crafted comprehensive software solutions, including Payroll packages, Accounts packages, and various IT applications. Leveraging the robust combination of Unix operating system and Oracle Database 9i as the backend, coupled with Oracle Forms and Reports serving as the frontend, I orchestrated a seamless and efficient suite of tools. These applications were deployed across LAN and WAN networks, serving the needs of organizations for over a decade.</li>
          <li>Led substantial Data Cleansing, Data Analysis, and Data Migration from legacy DBMS (DBF) to modern RDBMS tables using Oracle's import/export tools.</li>
          <li>Key role in IT DBA team during the millennium year, employing MS Access for effective data transfer.</li>
          <li>Contributed significantly to data migration success, enhancing overall IT infrastructure efficiency.</li>
          <li>Headed software administration, maintenance, and orchestrated database tasks, including query optimization.</li>
          <li>Diligently maintained Oracle Unix, Microsoft Exchange, Linux servers, and various backup servers.</li>

        </ul>
      </td>
    </tr>
  </table>
</div>  <!-- Repeat the above structure for other experiences -->
</div>
  <!-- Button for closing popup -->
  <button type="button" onclick="hidePopup()">Close</button>

  <!-- Script for hiding popup (adjust function name based on your requirements) -->
  <script>
    function hidePopup() {
      // Add logic to hide the popup or perform other actions
      alert('Closing popup');
    }
  </script>

</body>

</html>
